body{
    background-color: bisque;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.title{
    background-color: gainsboro;
}

.button{
    border-radius: 20%;
    width: 20%;
    text-align: center;
}

.button:hover{
    background-color: beige;
}